name: Build (Windows, CUDA)

on: [push, workflow_dispatch]

jobs:
  build-windows:
    runs-on: windows-2019

    defaults:
      run:
        shell: cmd

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        submodules: recursive
        ref: cudnn_mod
        fetch-depth: 0

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Setup Ninja
      run: pip install ninja

    - name: Cache CUDA
      id: cache-cuda
      uses: actions/cache@v2
      with:
        path: C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA
        key: ${{ runner.os }}-cuda-11.4.3

    - name: Setup CUDA
      if: steps.cache-cuda.outputs.cache-hit != 'true'
      run: |
        curl -s -o cuda_installer.exe -L https://developer.download.nvidia.com/compute/cuda/11.4.3/network_installers/cuda_11.4.3_win10_network.exe
        cuda_installer.exe -s nvcc_11.4 cudart_11.4 cublas_dev_11.4 cufft_dev_11.4 curand_dev_11.4 cusparse_dev_11.4 cupti_11.4 thrust_11.4

    - name: Checkout cuda
      uses: actions/checkout@v2
      with:
        repository: AmusementClub/cuda
        token: ${{ secrets.REPO_TOKEN }}
        ref: cudnn-8.2.4
        path: cuda

    - name: Configure
      run: cmake -S cmake -B build -G Ninja -LA
        -D CMAKE_BUILD_TYPE=Release
        -D onnxruntime_BUILD_UNIT_TESTS=OFF -D Protobuf_USE_STATIC_LIBS=ON -D onnxruntime_BUILD_SHARED_LIB=ON
        -D onnxruntime_ENABLE_CPU_FP16_OPS=OFF -D onnxruntime_USE_AVX=ON -D onnxruntime_USE_AVX2=ON
        -D onnxruntime_USE_CUDA=ON -D onnxruntime_CUDA_HOME="C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.4"
        -D onnxruntime_CUDNN_HOME="%cd%\cuda\cudnn" 
        -D CMAKE_CUDA_ARCHITECTURES="50;61-real;75-real;86-real" -D CMAKE_CUDA_FLAGS="-t 0 -Wno-deprecated-gpu-targets"

    - name: Build
      run: cmake --build build --verbose

    - name: Install
      run: cmake --install build --prefix onnxruntime-gpu

    - name: Show
      run: ls -R onnxruntime-gpu

    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: onnxruntime-windows-cuda
        retention-days: 1
        path: onnxruntime-gpu

    - name: Package
      shell: pwsh
      run: Compress-Archive onnxruntime-gpu -DestinationPath onnxruntime-gpu-win64.zip

    - name: Get description
      shell: bash
      run: |
        echo ORT_VERSION=`git describe --tags --long` >> $GITHUB_ENV
        echo TIME=`date -u +"%y%m%d-%H%M"` >> $GITHUB_ENV

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: onnxruntime-gpu-win64.zip
        name: Build ${{ env.ORT_VERSION }}
        tag_name: ${{ env.ORT_VERSION }}-${{ env.TIME }}
        prerelease: true
